@font-face {
  font-family: ARACNE;
  src: url("../fonts/ARACNE-ULTRA-CONDENSED_regular.ttf");
}
body {
  background-color: #27282D;
}

.desktop {
  display: none;
}

.nav-link {
  font-family: sans-serif;
}

.hero {
  background-image: url("../img/hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  height: 300px;
}

.heromobile {
  display: none;
}

.certificado {
  font-family: ARACNE, Arial, Helvetica, sans-serif;
  margin: -80px 0;
  padding: 30px;
  background-color: #27282D;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.certificado h2 {
  font-size: 3em;
}
.certificado img {
  padding-top: 20px;
  width: 380px;
}

.habilidades {
  background-color: #27282D;
  padding: 100px 0px;
  margin: 50px auto;
  font-family: ARACNE, Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
}
.habilidades h2 {
  font-size: 3em;
}
.habilidades #logos {
  margin: 50px 0px;
}
.habilidades #logos img {
  width: 65px;
}
.habilidades #logos img:nth-child(2) {
  padding-left: 5px;
  width: 50px;
}
.habilidades #logos img:nth-child(3) {
  width: 80px;
  padding-left: 5px;
}
.habilidades #logos img:nth-child(4) {
  width: 70px;
  padding-left: 5px;
}

.otherhabilidades {
  background-color: #27282D;
  font-family: ARACNE, Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
  padding: 100px 0px;
  margin: -53px auto;
}
.otherhabilidades h2 {
  font-size: 3em;
}
.otherhabilidades .logos {
  margin: 50px 0px;
}
.otherhabilidades .logos img {
  width: 50px;
}
.otherhabilidades .logos img:nth-child(2) {
  padding-left: 5px;
  width: 70px;
}
.otherhabilidades .logos img:nth-child(3) {
  padding-left: 5px;
}
.otherhabilidades .logos img:nth-child(4) {
  padding-left: 5px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1F2023;
  text-align: center;
  font-size: 1.3em;
}
footer h2 {
  font-size: 2.5em;
  color: white;
  font-family: ARACNE, Arial, Helvetica, sans-serif;
}
footer img {
  width: 50px;
}
footer a {
  text-decoration: none;
  color: #E0414B;
}
footer p {
  color: #E0414B;
}

.proyectos {
  padding: 30px;
  text-align: center;
  background-color: #27282D;
  font-family: ARACNE, Arial, Helvetica, sans-serif;
}
.proyectos h2 {
  font-size: 3em;
}
.proyectos a {
  text-decoration: none;
  color: white;
}
.proyectos a:hover {
  color: #E0414B;
}
.proyectos .items {
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .hero {
    display: none;
  }
  .heromobile {
    display: flex;
    background-image: url("../img/hero.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 500px;
  }
}
@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }
  .desktop {
    background-color: #1F2023;
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid #E0414B;
  }
  .desktop nav {
    margin: auto 50px;
    font-family: ARACNE;
    font-size: 3em;
    font-weight: 700;
  }
  .desktop nav a {
    padding: 5px;
    text-decoration: none;
    color: white;
  }
  .desktop .logo {
    width: 100px;
  }
  .hero {
    background-size: cover;
    height: 500px;
    background-position: center;
  }
  .habilidades #logos img {
    width: 150px;
  }
  .habilidades #logos img:nth-child(2) {
    width: 110px;
  }
  .habilidades #logos img:nth-child(3) {
    width: 170px;
  }
  .habilidades #logos img:nth-child(4) {
    width: 150px;
  }
  .otherhabilidades .logos img {
    width: 150px;
  }
  .otherhabilidades .logos img:nth-child(2) {
    width: 220px;
  }
  footer {
    flex-direction: row;
    justify-content: space-around;
  }
}/*# sourceMappingURL=style.css.map */